
#rectangleMainBox{
    -fx-alignment: center;
    -fx-spacing: 10;
}

#firstSideBox, #secondSideBox{
    -fx-padding: 0 0 0 20;
    -fx-spacing: 70;
}

#resultBox{
    -fx-padding: 0 0 0 20;
    -fx-spacing: 10;
}

#title{
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

#firstSideLabel, #secondSideLabel, #resultLabel, #rectangularAreaLabel{
    -fx-minWidth: 300;
    -fx-font-size: 16;
}