.container {
   
}

.label
{
    -fx-text-fill: black;
}

.title1{
    -fx-font-size:50;
}

.title2{
    -fx-font-size:40;
    -fx-text-fill: gray;
}

.errorLabel{
    -fx-font-size:20;
     -fx-text-fill: red;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}
