<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="MvvmFX Project Page">
    <meta name="author" content="Manuel Mauky">

    <title>{{ page.title }}</title>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css"/>

    <link rel="stylesheet" href="/css/mvvmfx.css" type="text/css"/>
    

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id="main_menu">
          <ul class="nav nav-tabs nav-stacked">
            <li {%if page.url == '/' %} class="active" {% endif %}><a href="/">Home</a></li>
            <li {%if page.url == '/download/' %} class="active" {% endif %}><a href="/download">Download</a></li>
            <li {%if page.url == '/news/' %} class="active" {% endif %}><a href="/news">News</a></li>
            <li {%if page.url == '/tutorials/' %} class="active" {% endif %}><a href="/tutorials">Tutorials</a></li>
            <li {%if page.url == '/docs/' %} class="active" {% endif %}><a href="/docs">Documentation</a></li>
            <li><a href="https://github.com/sialcasa/mvvmFX">Source code</a></li>
            <li><a href="https://github.com/sialcasa/mvvmFX/issues">Bug tracker</a></li>
          </ul>
        </div>


       
        <div class="container-fluid col-md-10">
          <div class="row" id="logo">
            <img src="https://camo.githubusercontent.com/f3329a50357fdb04c1ca7b2395f4ed5078881c66/687474703a2f2f7777772e6275696c64706174682e64652f6d76766d2f6d76766d66782e706e67">
          </div>
          <div class="row">
            <div class="container-fluid">

            {{ content }}

            </div>
          </div>


        </div><!-- /.container -->
      </div>
    </div>
  </body>
</html>

