<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"HH:mm:ss,SSS"} %-5level [%-35logger{35}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.saxsys" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>